# sphinx is used for building the documentation
sphinx

# xmlrunner is used in tests.py and needed to get nicely formatted output for
# jenkins to interpret.
xmlrunner

# yapsy is a plugin manager package
yapsy

# xmltodict is a package for converting xml structure to nested dicts
xmltodict

# dicttoxml is a package for converting nested dicts to xml structure
dicttoxml 
