alabaster==0.7.12
atomicwrites==1.3.0
attrs==18.2.0
babel==2.6.0
backcall==0.1.0
batchgenerators==0.18.1
bleach==3.1.0
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.7.0
colorama==0.4.1
colorlover==0.3.0
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
dicttoxml==1.7.4
docutils==0.14
entrypoints==0.3
Flask==1.0.2
future==0.17.1
graphviz==0.10.1
h5py==2.9.0
hyperopt==0.1.1
hyppopy==0.0.1
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsonschema==3.0.0a3
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
linecache2==1.0.0
llvmlite==0.27.0
MarkupSafe==1.1.0
matplotlib==3.0.2
MedPy==0.3.0
mistune==0.8.4
more-itertools==5.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nibabel==2.3.3
notebook==5.7.4
numba==0.42.0
numpy==1.16.0
optunity==1.1.1
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pickleshare==0.7.5
pillow==5.4.1
plotly==3.6.1
pluggy==0.8.1
portalocker==1.4.0
prometheus-client==0.5.0
prompt-toolkit==2.0.8
py==1.7.0
pydicom==1.2.2
Pygments==2.3.1
pymongo==3.7.2
pyparsing==2.3.1
pypiwin32==223
pyrsistent==0.14.10
pytest==4.1.1
python-dateutil==2.8.0
python-telegram-bot==10.1.0
pytz==2018.9
pywavelets==1.0.1
pywin32==224
pywinpty==0.5.5
pyzmq==17.1.2
requests==2.21.0
retrying==1.3.3
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
torch==1.0.0
torchfile==0.1.0
torchvision==0.2.1
tornado==5.1.1
traceback2==1.4.0
traitlets==4.3.2
trixi==0.1.1.6
umap-learn==0.3.7
unittest2==1.1.0
urllib3==1.24.1
visdom==0.1.8.8
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
wincertstore==0.2
xmlrunner==1.7.7
xmltodict==0.11.0
Yapsy==1.11.223
